body {
  margin: 0%;
}

.container {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 1150px;
}

.linkNavbar {
  color: white!important;
  text-decoration: none!important;
}

.linkWithoutDecoration {
  color: black;
  text-decoration: none!important;
}

li {
  list-style-type: none
}

.marginBottomTop2-percent{
  margin-bottom: 2%;
  margin-top: 2%;
}

.buttomBack {
  margin-left: 2% !important;
}